:root {
  --font-family-main: consolas, "Times New Roman", serif;
  --font-size-normal: 16px;
  --font-line-normal: 24px;
  --font-normal: var(--font-size-normal) / var(--font-line-normal) var(--font-family-main);
  --font-size-big: 24px;
  --font-line-big: 32px;
  --font-big: var(--font-size-big) / var(--font-line-big) var(--font-family-main);
  --font-bigger: 32px;
  --font-line-bigger: 40px;
  --font-bigger: var(--font-size-bigger) / var(--font-line-bigger) var(--font-family-main);

  // Высота NavBar
  --navBar-height: 5vh;
}
