.dark {
  --bg-color: #2d384a;
  --inverted-color: #060a30;
  --inverted-color-pale:#080d3b;
  --primary-color: #adadaa;
  --secondary-color: #afacac;
  --inverted-primary-color: #899eb2;
  --inverted-secondary-color: #54606c;
}
