:root {
  --bg-color: #cfdae7;
  --inverted-color: #3d79a7;
  --inverted-color-pale: #447eaa;
  --primary-color: #3f3e3e;
  --secondary-color: #5e5c5c;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #b9b9b9;
}
