.input {
  display: block;
  width: 100%;
  font: var(--font-small);
  font-weight: 400;
  color: var(--primary-color);
  background-clip: padding-box;
  border: 2px solid grey;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: var(--bg-color);

  &:focus {
    outline: none;
  }

  &::placeholder {
    font: var(--font-extra-small);
  }
}
