.btnWrapper {
  :hover {
    transition: all 0.3s;
    opacity: 0.7;
  }
}

.button {
  padding: 1% 2%;
  cursor: pointer;
  font: var(--font-normal);
  border-radius: 5px;
}

.inverted-clear {
  color: var(--inverted-primary-color);
}

.secondary {
  border: 1px solid var(--inverted-primary-color);
  color: var(--inverted-primary-color);
  background-color: rgb(255 255 255 / 0%);
}

.clear,
.inverted-clear, {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--inverted-color);
  color: var(--primary-color);
}

.primary {
  border: 1px solid var(--inverted-color);
  background-color: var(--inverted-color-pale);
  padding: 0 5px;
  color: var(--bg-color);

  :hover {
    background-color: black;
    opacity: 0.7;
  }
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
