.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
  position: absolute;
  background-color: var(--bg-color);
  min-width: 20%;
  max-width: 80%;
  border-radius: 10px;
  padding: 0 5px;
}
.open{
    opacity: 0;
    animation: openAni .3s forwards;
    z-index: 2;
}
.close{
    opacity: 1;
    animation: closeAni .3s forwards;
    pointer-events: none;
    z-index: -1;
}
.modalHeader{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 2px;
    font-weight: bold;
    font: var(--font-big);
    border-bottom: 1px solid rgba(128, 128, 128, 0.582);
    padding: 0.5% 2%;
}
.modalHeaderCross{
    width: 0.6em;
    fill: var(--primary-color);
    transition: all 0.3s;
    cursor: pointer;
    :hover{
        opacity: 0.7;
    }
}
.modalHeaderTitle{
    font: var(--font-normal);
    font-weight: 700;
    align-self: center;
}
.modalContent{
    padding: 0.5% 2%;
    min-height: 5vh;
}
.modalActions{
    display: flex;
    justify-content: end;
    padding: 5px 10px 15px 10px;
}

@keyframes openAni {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes closeAni {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }